body{
    background:magenta;

}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colone{
    background:aqua;
    padding:20px;
    border-radius:20px;
}
label{
    color: darkred;
    font-size:18px;
}
.topmenu{
    background: coral;
}